# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
portal/node_modules
portal/.pnp
portal.pnp.js

# testing
portal/coverage

# production
portal/build

# misc
*.DS_Store
portal/.env.local
portal/.env.development.local
portal/.env.test.local
portal/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
